<nav>
    <div class="site-title">
        <a href="/"><h1>Essam Ninja</h1></a>
        <p>Essam Ninja Site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
        <li><a href="/newfact">API</a></li>
    </ul>
</nav>